* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  flex-basis: 700px;
  padding: 10px;
}

.text-field {
  border: 1px solid #cccccc;
}

.list {
  margin: 10px 0;
}

.list-item {
  display: flex;
  gap: 10px;
}

.complete-button {
  border: 0;
  color: white;
  background-color: dodgerblue;
  transition: 0.25s;
}

.complete-button:active {
  opacity: 0.5;
}

.list-text-completed {
  text-decoration: line-through;
}
